/* General */
body {
  background-color: #F8FEE6;
  margin: 0;
  font-family: Didot, Arial, sans-serif;
  font-weight: 700;
}
main h2 {
  font-size: 32px;
  font-family: Didot, Arial, sans-serif;
  font-weight: bold;
}
main h3 {
  font-size: 26px;
  font-family: Didot, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}
main p {
 font-family: Didot, Arial, sans-serif;
 line-height: 1.5em;
 margin-bottom: 0em;
}

/* Header */
header {
  text-align: center;
  background-color: #566645;
  margin-bottom: 30px;
  padding: 20px;
  display: block;
}
header h1 {
  color: #F8FEE6;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-family: Didot, Arial, sans-serif;
  font-size: 58px;
}
header h2 {
  color: #F8FEE6;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-family: Didot, Arial, sans-serif;
  font-size: 36px;
}
header nav {
  display: flex;
  justify-content: center;
  }
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  font-family: Didot, Arial, sans-serif;
  font-size: 20px;
  color: #F8FEE6;
  text-decoration: none;
  padding: 0 30px 0 0;
}
header nav ul li a:hover {
  color: #F8FEE6;
}
header nav ul li a:link {
  color: #F8FEE6;
}


/* Main part */
.wrapper {
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  flex: 1;
  margin: 10px;
  align-items: center;
}
.item2 {
  flex: 3;
  margin: 10px;
  align-items: center;
}



/* Group items */
@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }
  .group {
    flex-direction: row;
  }
  header nav {
    display: flex;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
  }
}

/* Articles */
#intro, #portfolio {
  margin-bottom: 100px;
}
#about, #contact {
  background-color: #C5D1B1;
  padding: 20px 0 100px 0;
  margin: 120px 0;
  width: 100%;
}

/* Images */
.profpic {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}
.camping {
  width: 600px;
  height: 600px;
  max-width: 100%;
  border-radius: 5%;
}
.placeholder {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 700px;
  height: 380px;
  max-width: 100%;
}

/* Links */
a.contactInfo:link, a.contactInfo:visited {
  color: #45403C;
  text-decoration: none;
}
a.contactInfo:hover, a.contactInfo:active {
  color: #776E69;
}
a.projectlive {
  text-decoration: none;
}
a.projectlive:link, a.projectlive:visited {
  color: black;
}
a.projectlive:hover, a.projectlive:active {
  color: #566645;
}

/* Form info */
form {
  padding-right: 15px;
}
form label {
  display: flex;
}

form input, 
form textarea {
  width: 300px;
  margin-bottom: 11px;
}

form textarea {
  height: 180px;
}
form button {
    justify-content: center;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 0;
    font-family: Didot;
    font-size: 16px;
    background: #566645;
    color: #F8FEE6;
    margin: 0 auto;
}